[submodule "scratch-gui"]
	path = scratch-gui
	url = https://github.com/DataSciBlock/DataSciBlock-gui.git
	branch = main
[submodule "scratch-vm"]
	path = scratch-vm
	url = https://github.com/DataSciBlock/DataSciBlock-vm.git
	branch = main
[submodule "scratch-blocks"]
	path = scratch-blocks
	url = https://github.com/DataSciBlock/scratch-blocks.git
	branch = main
[submodule "scratch-render"]
	path = scratch-render
	url = https://github.com/DataSciBlock/scratch-render
